<div class="first">
  <div class="upTitleBox">
    <p class="upTitle">Stop spending time on mediocre online stuff!</p>
  </div>
  <h3 class="title">Explore our intriguing 3D game</h3>
  <p class="description">
    instead and experience unparalleled pleasure like you've never seen before.
  </p>
  <div class="agree">
    <div class="btnBox">
      <button type="button" class="btn continue">Continue</button>
      <button type="button" class="btn no">No,thanks</button>
    </div>
  </div>
</div>

<div class="second">
  <h3 class="title">
    Who Would You Choose as Your First Partner, if you play right now?
  </h3>
  <div class="slider">
    <div class="slides">
      <div class="slide">
        <img src="./images/firstslide.png" alt="Slide 1" />
        <p class="text">Your Neighbor</p>
      </div>
      <div class="slide">
        <img src="./images/secondslide.png" alt="Slide 2" />
        <p class="text">Step-Sister</p>
      </div>
      <div class="slide">
        <img src="./images/thirdslide.png" alt="Slide 3" />
        <p class="text">Famous Celebrity</p>
      </div>
    </div>
  </div>
  <button class="btnslide prevslide"></button>
  <button class="btnslide nextslide"></button>
  <button type="button" class="next">Next</button>
</div>
