<div class="first">
  <div class="upTitleBox">
    <p class="upTitle">Stop spending time on mediocre online stuff!</p>
  </div>
  <button type="button" class="sound" id="soundButton">
    <img src="./images/on.png" alt="on" id="soundOn" style="display: block" class="soundButton"/>
    <img src="./images/off.png" alt="off" id="soundOff" style="display: none" class="soundButton"/>
  </button>
  <h3 class="title">Explore our intriguing 3D game</h3>
  <p class="description">
    instead and experience unparalleled pleasure like you've never seen before.
  </p>
  <div class="agree">
    <div class="btnBox">
        <button type="button" class="btn continue">Continue</button>
    <button type="button" class="btn no">No,thanks</button> 
    </div>
   
  </div>
</div>
